openapi: 3.2.0
info:
  title: Monid Endpoints API
  version: 0.1.0
  description: Agentic payment platform for data — agents discover and buy data on demand. Authenticated `/v1/*` routes accept a Monid API key or Clerk JWT as a Bearer token. All errors return `{ code, message }`. List endpoints use cursor pagination; consult each operation schema for its last-page cursor encoding.
servers:
- url: https://api.monid.ai
  description: Production
- url: https://monid.ai
  description: Public registry alias (public/v1 only)
tags:
- name: Endpoints
paths:
  /v1/endpoints:
    get:
      tags:
      - Endpoints
      summary: Browse the endpoint catalog
      description: Cursor-paginated, cross-provider browse of the whole endpoint catalog (verified-first), optionally filtered to a category branch. Card shape is shared with the public registry surface.
      security:
      - Bearer: []
      parameters:
      - schema:
          type: integer
          exclusiveMinimum: 0
          description: Max items per page (server-side cap applies).
          example: 20
        required: false
        description: Max items per page (server-side cap applies).
        name: limit
        in: query
      - schema:
          type: string
          description: Cursor returned by the previous page.
        required: false
        description: Cursor returned by the previous page.
        name: cursor
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: 'Filter by static eligibility for x402 payment (`POST /x402/v1/run`): `true` keeps only payable endpoints, `false` only non-payable ones. Omit for all endpoints.'
        required: false
        description: 'Filter by static eligibility for x402 payment (`POST /x402/v1/run`): `true` keeps only payable endpoints, `false` only non-payable ones. Omit for all endpoints.'
        name: supportsX402
        in: query
      - schema:
          type: string
          minLength: 1
          maxLength: 100
          description: Narrow to endpoints payable via x402 on this customer-payment network (CAIP-2 id, e.g. `eip155:8453`). Implies `supportsX402=true`; an unknown/unconfigured id returns an empty page.
          example: eip155:8453
        required: false
        description: Narrow to endpoints payable via x402 on this customer-payment network (CAIP-2 id, e.g. `eip155:8453`). Implies `supportsX402=true`; an unknown/unconfigured id returns an empty page.
        name: x402Network
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: 'Filter by whether running the endpoint can change your workspace resources (phone numbers, files, asset libraries): `true` keeps only endpoints that cannot create, modify or delete them, `false` only endpoints that can. Omit for all endpoints. This describes RESOURCE effects only — a readonly endpoint may still perform real-world actions and is still billed.'
        required: false
        description: 'Filter by whether running the endpoint can change your workspace resources (phone numbers, files, asset libraries): `true` keeps only endpoints that cannot create, modify or delete them, `false` only endpoints that can. Omit for all endpoints. This describes RESOURCE effects only — a readonly endpoint may still perform real-world actions and is still billed.'
        name: readonly
        in: query
      - schema:
          type: string
          description: 'Keep only endpoints whose run can have AT LEAST ONE of the named effects on your workspace resources (phone numbers, files, asset libraries): `creates`, `updates`, `deletes`. Omit for all endpoints. Takes precedence over `readonly` (`readonly=true` is the alias for "no write effects"). Resource effects only — an endpoint with no effect may still perform real-world actions and is still billed.'
          example: creates,deletes
        required: false
        description: 'Keep only endpoints whose run can have AT LEAST ONE of the named effects on your workspace resources (phone numbers, files, asset libraries): `creates`, `updates`, `deletes`. Omit for all endpoints. Takes precedence over `readonly` (`readonly=true` is the alias for "no write effects"). Resource effects only — an endpoint with no effect may still perform real-world actions and is still billed.'
        name: effects
        in: query
      - schema:
          type: string
          maxLength: 60
          pattern: ^[a-z0-9]+(?:-[a-z0-9]+)*$
          description: Category node id to filter by (top group, leaf category, or provider node id from `GET /public/v1/categories`).
          example: twitter
        required: false
        description: Category node id to filter by (top group, leaf category, or provider node id from `GET /public/v1/categories`).
        name: category
        in: query
      responses:
        '200':
          description: Catalog page
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicEndpointInfo'
                  cursor:
                    type: string
                    description: Opaque cursor for the next page. Absent on the last page.
                  total:
                    type: integer
                    minimum: 0
                    description: Total number of enabled endpoints matching the underlying query, irrespective of pagination.
                required:
                - items
        '400':
          description: Bad request — input failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized — missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — caller has no workspace or no access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded (errorCode `RATE_LIMITED`) — the `Retry-After` header carries whole seconds until the caller may retry; `RateLimit-Limit/-Remaining/-Reset` and `X-RateLimit-Rule` name the binding rule (also sent on allowed responses that matched a rule; responses that matched no rule, or an `unlimited` exemption, carry none of them). Applies to every authenticated `/v1` route (per API key / user / origin / workspace); POST /v1/run additionally enforces per-provider/endpoint run limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: getV1Endpoints
      x-operation-id-source: derived
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
          description: HTTP status code, duplicated in the body.
          example: 400
        message:
          type: string
          description: Human-readable error description.
          example: Bad Request
        errorCode:
          type: string
          enum:
          - RATE_LIMITED
          - X402_WORKSPACE_RESOURCES
          - X402_ACCRUING_COST
          - X402_EXCEEDS_SETTLEMENT_WINDOW
          - X402_VALIDITY_WINDOW_TOO_SHORT
          - X402_UNBOUNDED_PRICE
          - INSUFFICIENT_SCOPE
          - WALLET_INSUFFICIENT_FUNDS
          - IDENTITY_PROVIDER_UNKNOWN
          - IDENTITY_LINK_REQUIRES_SESSION
          - IDENTITY_LINK_STATE_INVALID
          - IDENTITY_VERIFICATION_FAILED
          - IDENTITY_PROVIDER_UNAVAILABLE
          - IDENTITY_ALREADY_LINKED
          - IDENTITY_USER_ALREADY_LINKED
          - IDENTITY_LINK_RATE_LIMITED
          - IDENTITY_REQUIRED
          - PROMO_IDENTITY_REDEEMED
          - PROMO_REDEEM_REQUIRES_SESSION
          - PROMO_REDEEM_DISABLED
          description: OPTIONAL machine-readable discriminant from the documented `ApiErrorCode` registry. Absent on legacy errors; clients MUST treat unknown values as absent.
      required:
      - code
      - message
    PublicEndpointInfo:
      type: object
      properties:
        provider:
          type: string
          description: Provider slug.
          example: exa
        providerDisplayName:
          type: string
          description: Resolved provider display name (curation > slug).
        providerDisplayDescription:
          type: string
          description: Resolved provider display blurb.
        endpoint:
          type: string
          description: Endpoint path.
          example: /search
        displayName:
          type: string
          description: Resolved endpoint display label. Always populated.
        displayDescription:
          type: string
          description: Resolved endpoint display blurb. May be empty.
        price:
          $ref: '#/components/schemas/PublicPrice'
        tags:
          type: array
          items:
            type: string
          description: User-facing tags (e.g. `["verified"]`). Always an array; empty when no tags are set on the indexed wrapper.
        categories:
          type: array
          items:
            type: string
          description: Depth-2 category paths — authored functional paths AND derived provider placement paths (e.g. `["social-media/twitter", "scrapers/apify"]`), treated uniformly. Bare top-level ancestors are excluded. Empty when the endpoint is outside the category catalog.
        supportedX402Networks:
          type: array
          items:
            type: string
          description: Customer-payment networks (CAIP-2 ids, e.g. `["eip155:8453", "eip155:143"]`) this endpoint can be paid for through `POST /x402/v1/run`. Empty when the endpoint is not x402-eligible (workspace-resource coupling, cost accrual, settlement-window fit, or visibility). Static protocol/policy compatibility — network availability and request/payment validation are checked at execution time.
      required:
      - provider
      - providerDisplayName
      - endpoint
      - displayName
      - displayDescription
      - price
      - tags
      - categories
      - supportedX402Networks
    PublicPrice:
      type: object
      properties:
        type:
          type: string
        amount:
          type: object
          properties:
            value:
              type: number
            currency:
              type: string
              enum:
              - USD
          required:
          - value
          - currency
        flatFee:
          type: object
          properties:
            value:
              type: number
            currency:
              type: string
              enum:
              - USD
          required:
          - value
          - currency
        period:
          type: object
          properties:
            unit:
              type: string
              enum:
              - MINUTE
              - DAY
              - MONTH
            count:
              type: integer
              exclusiveMinimum: 0
          required:
          - unit
          - count
        per:
          anyOf:
          - type: object
            properties:
              unit:
                type: string
                enum:
                - MINUTE
                - DAY
                - MONTH
              count:
                type: integer
                exclusiveMinimum: 0
            required:
            - unit
            - count
          - type: number
        unit:
          type: string
          enum:
          - token
          - character
          - second
          - image
          - credit
          - result
          - gb-month
          - step
        default:
          anyOf:
          - type: object
            properties:
              type:
                type: string
                enum:
                - PER_CALL
              amount:
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    type: string
                    enum:
                    - USD
                required:
                - value
                - currency
            required:
            - type
            - amount
          - type: object
            properties:
              type:
                type: string
                enum:
                - PER_RESULT
              amount:
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    type: string
                    enum:
                    - USD
                required:
                - value
                - currency
              flatFee:
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    type: string
                    enum:
                    - USD
                required:
                - value
                - currency
            required:
            - type
            - amount
          - type: object
            properties:
              type:
                type: string
                enum:
                - METERED
              amount:
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    type: string
                    enum:
                    - USD
                required:
                - value
                - currency
              per:
                type: object
                properties:
                  unit:
                    type: string
                    enum:
                    - MINUTE
                    - DAY
                    - MONTH
                  count:
                    type: integer
                    exclusiveMinimum: 0
                required:
                - unit
                - count
            required:
            - type
            - amount
            - per
          - type: object
            properties:
              type:
                type: string
                enum:
                - PER_UNIT
              amount:
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    type: string
                    enum:
                    - USD
                required:
                - value
                - currency
              per:
                type: number
              unit:
                type: string
                enum:
                - token
                - character
                - second
                - image
                - credit
                - result
                - gb-month
                - step
            required:
            - type
            - amount
            - per
            - unit
        selectors:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
              key:
                type: string
              in:
                type: string
                enum:
                - body
                - queryParam
                - pathParam
                - output
              offset:
                type: integer
                minimum: 0
            required:
            - label
            - key
            - in
        variants:
          type: array
          items:
            type: object
            properties:
              when:
                type: object
                additionalProperties:
                  anyOf:
                  - type: string
                  - type: number
                  - type: boolean
              price:
                anyOf:
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - PER_CALL
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                  required:
                  - type
                  - amount
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - PER_RESULT
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                    flatFee:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                  required:
                  - type
                  - amount
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - METERED
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                    per:
                      type: object
                      properties:
                        unit:
                          type: string
                          enum:
                          - MINUTE
                          - DAY
                          - MONTH
                        count:
                          type: integer
                          exclusiveMinimum: 0
                      required:
                      - unit
                      - count
                  required:
                  - type
                  - amount
                  - per
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - PER_UNIT
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                    per:
                      type: number
                    unit:
                      type: string
                      enum:
                      - token
                      - character
                      - second
                      - image
                      - credit
                      - result
                      - gb-month
                      - step
                  required:
                  - type
                  - amount
                  - per
                  - unit
              label:
                type: string
            required:
            - when
            - price
        tiers:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
              when:
                type: object
                additionalProperties:
                  anyOf:
                  - type: string
                  - type: number
                  - type: boolean
              selector:
                type: object
                properties:
                  label:
                    type: string
                  key:
                    type: string
                  in:
                    type: string
                    enum:
                    - body
                    - queryParam
                    - pathParam
                    - output
                  offset:
                    type: integer
                    minimum: 0
                required:
                - label
                - key
                - in
              price:
                anyOf:
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - PER_CALL
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                  required:
                  - type
                  - amount
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - PER_RESULT
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                    flatFee:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                  required:
                  - type
                  - amount
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - METERED
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                    per:
                      type: object
                      properties:
                        unit:
                          type: string
                          enum:
                          - MINUTE
                          - DAY
                          - MONTH
                        count:
                          type: integer
                          exclusiveMinimum: 0
                      required:
                      - unit
                      - count
                  required:
                  - type
                  - amount
                  - per
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - PER_UNIT
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                    per:
                      type: number
                    unit:
                      type: string
                      enum:
                      - token
                      - character
                      - second
                      - image
                      - credit
                      - result
                      - gb-month
                      - step
                  required:
                  - type
                  - amount
                  - per
                  - unit
            required:
            - label
            - price
      required:
      - type
      - amount
      description: User-facing price (markup applied).
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      description: 'Monid API key (`Authorization: Bearer mk_...`) or Clerk-issued JWT.'
