openapi: 3.2.0
info:
  title: Monid Inspect API
  version: 0.1.0
  description: Agentic payment platform for data — agents discover and buy data on demand. Authenticated `/v1/*` routes accept a Monid API key or Clerk JWT as a Bearer token. All errors return `{ code, message }`. List endpoints use cursor pagination; consult each operation schema for its last-page cursor encoding.
servers:
- url: https://api.monid.ai
  description: Production
- url: https://monid.ai
  description: Public registry alias (public/v1 only)
tags:
- name: Inspect
paths:
  /v1/inspect:
    post:
      tags:
      - Inspect
      summary: Get full endpoint details
      description: Full endpoint details including input schema, pricing, and documentation. The provider's endpoint detail is the single source of truth.
      security:
      - Bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InspectRequest'
      responses:
        '200':
          description: Endpoint details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InspectResponse'
        '400':
          description: Bad request — input failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized — missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — caller has no workspace or no access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Endpoint not found for provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded (errorCode `RATE_LIMITED`) — the `Retry-After` header carries whole seconds until the caller may retry; `RateLimit-Limit/-Remaining/-Reset` and `X-RateLimit-Rule` name the binding rule (also sent on allowed responses that matched a rule; responses that matched no rule, or an `unlimited` exemption, carry none of them). Applies to every authenticated `/v1` route (per API key / user / origin / workspace); POST /v1/run additionally enforces per-provider/endpoint run limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: postV1Inspect
      x-operation-id-source: derived
components:
  schemas:
    InspectRequest:
      type: object
      properties:
        provider:
          type: string
          minLength: 1
          description: Provider slug.
          example: exa
        endpoint:
          type: string
          minLength: 1
          description: Endpoint path.
          example: /search
      required:
      - provider
      - endpoint
    Price:
      type: object
      properties:
        type:
          type: string
        amount:
          type: object
          properties:
            value:
              type: number
            currency:
              type: string
              enum:
              - USD
          required:
          - value
          - currency
        flatFee:
          type: object
          properties:
            value:
              type: number
            currency:
              type: string
              enum:
              - USD
          required:
          - value
          - currency
        period:
          type: object
          properties:
            unit:
              type: string
              enum:
              - MINUTE
              - DAY
              - MONTH
            count:
              type: integer
              exclusiveMinimum: 0
          required:
          - unit
          - count
        per:
          anyOf:
          - type: object
            properties:
              unit:
                type: string
                enum:
                - MINUTE
                - DAY
                - MONTH
              count:
                type: integer
                exclusiveMinimum: 0
            required:
            - unit
            - count
          - type: number
        unit:
          type: string
          enum:
          - token
          - character
          - second
          - image
          - credit
          - result
          - gb-month
          - step
        default:
          anyOf:
          - type: object
            properties:
              type:
                type: string
                enum:
                - PER_CALL
              amount:
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    type: string
                    enum:
                    - USD
                required:
                - value
                - currency
            required:
            - type
            - amount
          - type: object
            properties:
              type:
                type: string
                enum:
                - PER_RESULT
              amount:
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    type: string
                    enum:
                    - USD
                required:
                - value
                - currency
              flatFee:
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    type: string
                    enum:
                    - USD
                required:
                - value
                - currency
            required:
            - type
            - amount
          - type: object
            properties:
              type:
                type: string
                enum:
                - METERED
              amount:
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    type: string
                    enum:
                    - USD
                required:
                - value
                - currency
              per:
                type: object
                properties:
                  unit:
                    type: string
                    enum:
                    - MINUTE
                    - DAY
                    - MONTH
                  count:
                    type: integer
                    exclusiveMinimum: 0
                required:
                - unit
                - count
            required:
            - type
            - amount
            - per
          - type: object
            properties:
              type:
                type: string
                enum:
                - PER_UNIT
              amount:
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    type: string
                    enum:
                    - USD
                required:
                - value
                - currency
              per:
                type: number
              unit:
                type: string
                enum:
                - token
                - character
                - second
                - image
                - credit
                - result
                - gb-month
                - step
            required:
            - type
            - amount
            - per
            - unit
        selectors:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
              key:
                type: string
              in:
                type: string
                enum:
                - body
                - queryParam
                - pathParam
                - output
              offset:
                type: integer
                minimum: 0
            required:
            - label
            - key
            - in
        variants:
          type: array
          items:
            type: object
            properties:
              when:
                type: object
                additionalProperties:
                  anyOf:
                  - type: string
                  - type: number
                  - type: boolean
              price:
                anyOf:
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - PER_CALL
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                  required:
                  - type
                  - amount
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - PER_RESULT
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                    flatFee:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                  required:
                  - type
                  - amount
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - METERED
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                    per:
                      type: object
                      properties:
                        unit:
                          type: string
                          enum:
                          - MINUTE
                          - DAY
                          - MONTH
                        count:
                          type: integer
                          exclusiveMinimum: 0
                      required:
                      - unit
                      - count
                  required:
                  - type
                  - amount
                  - per
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - PER_UNIT
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                    per:
                      type: number
                    unit:
                      type: string
                      enum:
                      - token
                      - character
                      - second
                      - image
                      - credit
                      - result
                      - gb-month
                      - step
                  required:
                  - type
                  - amount
                  - per
                  - unit
              label:
                type: string
            required:
            - when
            - price
        tiers:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
              when:
                type: object
                additionalProperties:
                  anyOf:
                  - type: string
                  - type: number
                  - type: boolean
              selector:
                type: object
                properties:
                  label:
                    type: string
                  key:
                    type: string
                  in:
                    type: string
                    enum:
                    - body
                    - queryParam
                    - pathParam
                    - output
                  offset:
                    type: integer
                    minimum: 0
                required:
                - label
                - key
                - in
              price:
                anyOf:
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - PER_CALL
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                  required:
                  - type
                  - amount
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - PER_RESULT
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                    flatFee:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                  required:
                  - type
                  - amount
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - METERED
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                    per:
                      type: object
                      properties:
                        unit:
                          type: string
                          enum:
                          - MINUTE
                          - DAY
                          - MONTH
                        count:
                          type: integer
                          exclusiveMinimum: 0
                      required:
                      - unit
                      - count
                  required:
                  - type
                  - amount
                  - per
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - PER_UNIT
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                    per:
                      type: number
                    unit:
                      type: string
                      enum:
                      - token
                      - character
                      - second
                      - image
                      - credit
                      - result
                      - gb-month
                      - step
                  required:
                  - type
                  - amount
                  - per
                  - unit
            required:
            - label
            - price
        notes:
          type: array
          items:
            type: string
      required:
      - type
      - amount
      description: User-facing price (markup applied).
    EndpointInput:
      type: object
      properties:
        pathParams:
          type: object
          additionalProperties: {}
          description: JSON Schema for URL path parameters (e.g. /users/{id}).
        queryParams:
          type: object
          additionalProperties: {}
          description: JSON Schema for query string parameters.
        body:
          type: object
          additionalProperties: {}
          description: JSON Schema for the request body (POST/PUT/PATCH).
        bodyType:
          type: string
          enum:
          - json
          - form
          - multipart
          description: Body content type (when body is present).
      description: Structured input — JSON Schema per param location (path, query, body).
    InspectResponse:
      type: object
      properties:
        provider:
          type: string
          description: Provider slug (e.g., "apify").
        providerName:
          type: string
          description: Human-readable provider name (e.g., "Apify").
        endpoint:
          type: string
          description: Endpoint path.
        description:
          type: string
        summary:
          type: string
        method:
          type: string
          enum:
          - GET
          - POST
          - PUT
          - DELETE
          - PATCH
          description: HTTP method for this endpoint.
        price:
          $ref: '#/components/schemas/Price'
        docUrl:
          type: string
          description: Provider documentation URL.
        notes:
          type: array
          items:
            type: string
          description: Operator-curated notes for agents — quirks, pitfalls, best practices.
        tags:
          type: array
          items:
            type: string
          description: Tags for scoring and filtering (e.g., ["verified"]).
        categories:
          type: array
          items:
            type: string
          description: Depth-2 category paths — authored functional + derived provider (e.g. ["social-media/twitter"]). Empty when uncategorized.
        metrics:
          type: object
          properties:
            status:
              type: string
              enum:
              - healthy
              - stable
              - degraded
              - outage
              - unknown
              description: Operational status. healthy = 100% green in the fresh window (minutes); outage = failing right now; degraded = chronically elevated errors (days); stable = clean recent history, no live signal; unknown = no data at all (rare).
            runTimeMs:
              type: object
              properties:
                p50:
                  type: number
                  description: Median end-to-end run time (ms) — typical.
                p95:
                  type: number
                  description: 95th-percentile end-to-end run time (ms) — tail.
              description: Typical end-to-end run time, measured over the freshest recent window with enough completed runs to be meaningful. Omitted when no window has enough measured runs.
          required:
          - status
          description: Recent operational health (server-computed from run analytics). Omitted when analytics is unavailable.
        hints:
          type: object
          additionalProperties:
            anyOf:
            - type: string
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                  - command
                  - discover
                  - inspect
                  - run
                  - getRun
                  - stop
                  - releaseResource
                  - topup
                command:
                  type: string
                query:
                  type: string
                provider:
                  type: string
                endpoint:
                  type: string
                runId:
                  type: string
                resourceId:
                  type: string
                stripe:
                  type: string
                dashboard:
                  type: string
                docs:
                  type: string
                comment:
                  type: string
              required:
              - kind
          description: 'Agent guidance map (phrase → hint), polymorphic by client: rendered command string for cli/api/mcp, structured target for web. Omitted for unknown clients.'
        input:
          $ref: '#/components/schemas/EndpointInput'
      required:
      - provider
      - endpoint
      - description
      - tags
      - categories
    Error:
      type: object
      properties:
        code:
          type: integer
          description: HTTP status code, duplicated in the body.
          example: 400
        message:
          type: string
          description: Human-readable error description.
          example: Bad Request
        errorCode:
          type: string
          enum:
          - RATE_LIMITED
          - X402_WORKSPACE_RESOURCES
          - X402_ACCRUING_COST
          - X402_EXCEEDS_SETTLEMENT_WINDOW
          - X402_VALIDITY_WINDOW_TOO_SHORT
          - X402_UNBOUNDED_PRICE
          - INSUFFICIENT_SCOPE
          - WALLET_INSUFFICIENT_FUNDS
          - IDENTITY_PROVIDER_UNKNOWN
          - IDENTITY_LINK_REQUIRES_SESSION
          - IDENTITY_LINK_STATE_INVALID
          - IDENTITY_VERIFICATION_FAILED
          - IDENTITY_PROVIDER_UNAVAILABLE
          - IDENTITY_ALREADY_LINKED
          - IDENTITY_USER_ALREADY_LINKED
          - IDENTITY_LINK_RATE_LIMITED
          - IDENTITY_REQUIRED
          - PROMO_IDENTITY_REDEEMED
          - PROMO_REDEEM_REQUIRES_SESSION
          - PROMO_REDEEM_DISABLED
          description: OPTIONAL machine-readable discriminant from the documented `ApiErrorCode` registry. Absent on legacy errors; clients MUST treat unknown values as absent.
      required:
      - code
      - message
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      description: 'Monid API key (`Authorization: Bearer mk_...`) or Clerk-issued JWT.'
