openapi: 3.2.0
info:
  title: Monid Resources API
  version: 0.1.0
  description: Agentic payment platform for data — agents discover and buy data on demand. Authenticated `/v1/*` routes accept a Monid API key or Clerk JWT as a Bearer token. All errors return `{ code, message }`. List endpoints use cursor pagination; consult each operation schema for its last-page cursor encoding.
servers:
- url: https://api.monid.ai
  description: Production
- url: https://monid.ai
  description: Public registry alias (public/v1 only)
tags:
- name: Resources
paths:
  /v1/resources:
    get:
      tags:
      - Resources
      summary: List resources
      description: 'Cursor-paginated list of the workspace''s provider resources (durable, workspace-owned provider assets, e.g. phone numbers), newest first. Optional `provider`/`resourceType`/`state` filters (`resourceType` requires `provider`). Three listing modes: by default the page holds TOP-LEVEL resources only; `includeChildren=true` lists everything (children included) in one flat page; `parent=` lists ONLY that resource''s children.'
      security:
      - Bearer: []
      parameters:
      - schema:
          type: integer
          exclusiveMinimum: 0
          maximum: 100
          description: Max items per page (server-side cap applies).
        required: false
        description: Max items per page (server-side cap applies).
        name: limit
        in: query
      - schema:
          type: string
          description: Cursor returned by the previous page.
        required: false
        description: Cursor returned by the previous page.
        name: cursor
        in: query
      - schema:
          type: string
          enum:
          - apify
          - pdl
          - opoint
          - tikhub
          - exa
          - minimax
          - bytedance
          - suzanne
          - akta
          - saperly
          - apollo
          - censusdata.xyz
          - defillama
          - sfs
          - semrush
          - elevenlabs
          - octen
          - mint
          - context.dev
          - surf
          - agentmail
          - ahrefs
          - tinyfish
          - firecrawl
          - massive
          - hunterio
          - contactout
          - clay
          - alibaba
          - mrscraper
          - fundable
          - ploid
          - smolmachine
          - kling
          - recall
          - gemini
          - tendata
          - openai
          - vaquill
          - litescrape
          - typesafe
          - dataforseo
          - orbit
          - cloro
          - topaz
          - search1api
          - magichour
          - keenable
          description: Filter by provider slug (e.g. 'saperly').
        required: false
        description: Filter by provider slug (e.g. 'saperly').
        name: provider
        in: query
      - schema:
          type: string
          enum:
          - phone_number
          - file_system
          - asset_library
          - machine
          - email_account
          - email_inbox
          - email_domain
          - browser_session
          - browser_profile
          description: Filter by resource type — requires `provider` (store SK prefix is ordered).
        required: false
        description: Filter by resource type — requires `provider` (store SK prefix is ordered).
        name: resourceType
        in: query
      - schema:
          type: string
          enum:
          - READY
          - PROVISIONING
          - ACTIVE
          - EXPIRING
          - SUSPENDED
          - RELEASED
          - PROVISION_FAILED
          description: Filter by lifecycle state.
        required: false
        description: Filter by lifecycle state.
        name: state
        in: query
      - schema:
          type: string
          minLength: 1
          description: List ONLY the children of this resource (e.g. an email account's inboxes) instead of the workspace's top-level resources. 404 when the resource is not yours. Mutually exclusive with `includeChildren`.
        required: false
        description: List ONLY the children of this resource (e.g. an email account's inboxes) instead of the workspace's top-level resources. 404 when the resource is not yours. Mutually exclusive with `includeChildren`.
        name: parent
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: 'Include child resources (e.g. the inboxes inside an email account) in the flat workspace listing. Default: top-level resources only. Mutually exclusive with `parent`.'
        required: false
        description: 'Include child resources (e.g. the inboxes inside an email account) in the flat workspace listing. Default: top-level resources only. Mutually exclusive with `parent`.'
        name: includeChildren
        in: query
      responses:
        '200':
          description: Resources page
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Resource'
                  cursor:
                    type: string
                    description: Opaque cursor for the next page; absent on the last page.
                required:
                - items
        '400':
          description: Bad request — input failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized — missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — caller has no workspace or no access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Parent resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded (errorCode `RATE_LIMITED`) — the `Retry-After` header carries whole seconds until the caller may retry; `RateLimit-Limit/-Remaining/-Reset` and `X-RateLimit-Rule` name the binding rule (also sent on allowed responses that matched a rule; responses that matched no rule, or an `unlimited` exemption, carry none of them). Applies to every authenticated `/v1` route (per API key / user / origin / workspace); POST /v1/run additionally enforces per-provider/endpoint run limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: getV1Resources
      x-operation-id-source: derived
  /v1/resources/{resourceId}/external/{kind}:
    get:
      tags:
      - Resources
      summary: Get a resource's live external detail
      description: Live detail of one external kind (from the resource's `externalResources` summaries), fetched fresh from the provider and sanitized — never secrets or upstream ids. Nothing is persisted; the response is upstream truth at this moment.
      security:
      - Bearer: []
      parameters:
      - schema:
          type: string
          description: Resource identifier (ULID).
        required: true
        description: Resource identifier (ULID).
        name: resourceId
        in: path
      - schema:
          type: string
          description: External kind (from `externalResources[].kind`).
        required: true
        description: External kind (from `externalResources[].kind`).
        name: kind
        in: path
      responses:
        '200':
          description: Live external detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalResourceDetail'
        '401':
          description: Unauthorized — missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — caller has no workspace or no access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource (or external kind) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded (errorCode `RATE_LIMITED`) — the `Retry-After` header carries whole seconds until the caller may retry; `RateLimit-Limit/-Remaining/-Reset` and `X-RateLimit-Rule` name the binding rule (also sent on allowed responses that matched a rule; responses that matched no rule, or an `unlimited` exemption, carry none of them). Applies to every authenticated `/v1` route (per API key / user / origin / workspace); POST /v1/run additionally enforces per-provider/endpoint run limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: The provider could not be reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: getV1ResourcesByResourceIdExternalByKind
      x-operation-id-source: derived
  /v1/resources/{resourceId}/events:
    get:
      tags:
      - Resources
      summary: List a resource's lifecycle events
      description: Cursor-paginated lifecycle events for a resource, oldest first — the renew history IS these events.
      security:
      - Bearer: []
      parameters:
      - schema:
          type: string
          description: Resource identifier (ULID).
        required: true
        description: Resource identifier (ULID).
        name: resourceId
        in: path
      - schema:
          type: integer
          exclusiveMinimum: 0
          maximum: 100
          description: Max items per page (server-side cap applies).
        required: false
        description: Max items per page (server-side cap applies).
        name: limit
        in: query
      - schema:
          type: string
          description: Cursor returned by the previous page.
        required: false
        description: Cursor returned by the previous page.
        name: cursor
        in: query
      - schema:
          type: string
          enum:
          - apify
          - pdl
          - opoint
          - tikhub
          - exa
          - minimax
          - bytedance
          - suzanne
          - akta
          - saperly
          - apollo
          - censusdata.xyz
          - defillama
          - sfs
          - semrush
          - elevenlabs
          - octen
          - mint
          - context.dev
          - surf
          - agentmail
          - ahrefs
          - tinyfish
          - firecrawl
          - massive
          - hunterio
          - contactout
          - clay
          - alibaba
          - mrscraper
          - fundable
          - ploid
          - smolmachine
          - kling
          - recall
          - gemini
          - tendata
          - openai
          - vaquill
          - litescrape
          - typesafe
          - dataforseo
          - orbit
          - cloro
          - topaz
          - search1api
          - magichour
          - keenable
          description: Filter by provider slug (e.g. 'saperly').
        required: false
        description: Filter by provider slug (e.g. 'saperly').
        name: provider
        in: query
      - schema:
          type: string
          enum:
          - phone_number
          - file_system
          - asset_library
          - machine
          - email_account
          - email_inbox
          - email_domain
          - browser_session
          - browser_profile
          description: Filter by resource type — requires `provider` (store SK prefix is ordered).
        required: false
        description: Filter by resource type — requires `provider` (store SK prefix is ordered).
        name: resourceType
        in: query
      - schema:
          type: string
          enum:
          - READY
          - PROVISIONING
          - ACTIVE
          - EXPIRING
          - SUSPENDED
          - RELEASED
          - PROVISION_FAILED
          description: Filter by lifecycle state.
        required: false
        description: Filter by lifecycle state.
        name: state
        in: query
      - schema:
          type: string
          minLength: 1
          description: List ONLY the children of this resource (e.g. an email account's inboxes) instead of the workspace's top-level resources. 404 when the resource is not yours. Mutually exclusive with `includeChildren`.
        required: false
        description: List ONLY the children of this resource (e.g. an email account's inboxes) instead of the workspace's top-level resources. 404 when the resource is not yours. Mutually exclusive with `includeChildren`.
        name: parent
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: 'Include child resources (e.g. the inboxes inside an email account) in the flat workspace listing. Default: top-level resources only. Mutually exclusive with `parent`.'
        required: false
        description: 'Include child resources (e.g. the inboxes inside an email account) in the flat workspace listing. Default: top-level resources only. Mutually exclusive with `parent`.'
        name: includeChildren
        in: query
      responses:
        '200':
          description: Lifecycle events page
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ResourceEvent'
                  cursor:
                    type: string
                    description: Opaque cursor for the next page; absent on the last page.
                required:
                - items
        '400':
          description: Bad request — input failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized — missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — caller has no workspace or no access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded (errorCode `RATE_LIMITED`) — the `Retry-After` header carries whole seconds until the caller may retry; `RateLimit-Limit/-Remaining/-Reset` and `X-RateLimit-Rule` name the binding rule (also sent on allowed responses that matched a rule; responses that matched no rule, or an `unlimited` exemption, carry none of them). Applies to every authenticated `/v1` route (per API key / user / origin / workspace); POST /v1/run additionally enforces per-provider/endpoint run limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: getV1ResourcesByResourceIdEvents
      x-operation-id-source: derived
  /v1/resources/{resourceId}/files/download-url:
    get:
      tags:
      - Resources
      summary: Get a file download URL
      description: Returns `{ url, expiresAt }` — a short-lived signed URL for the file at `path` on a workspace file system; GET it to stream the bytes. Pass `redirect=true` for a 302 straight to the URL (`curl -L`). For a shareable URL with a longer TTL, run the provider's /cat endpoint.
      security:
      - Bearer: []
      parameters:
      - schema:
          type: string
          description: Resource identifier (ULID).
        required: true
        description: Resource identifier (ULID).
        name: resourceId
        in: path
      - schema:
          type: string
          minLength: 1
          description: File path relative to the FS root.
        required: true
        description: File path relative to the FS root.
        name: path
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          description: '`true` answers a 302 redirect to the signed URL instead of the JSON body (the `curl -L` ergonomic).'
        required: false
        description: '`true` answers a 302 redirect to the signed URL instead of the JSON body (the `curl -L` ergonomic).'
        name: redirect
        in: query
      responses:
        '200':
          description: The signed download URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  expiresAt:
                    type: string
                required:
                - url
                - expiresAt
        '302':
          description: Redirect to the signed URL (`redirect=true`)
        '401':
          description: Unauthorized — missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — caller has no workspace or no access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource or path not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded (errorCode `RATE_LIMITED`) — the `Retry-After` header carries whole seconds until the caller may retry; `RateLimit-Limit/-Remaining/-Reset` and `X-RateLimit-Rule` name the binding rule (also sent on allowed responses that matched a rule; responses that matched no rule, or an `unlimited` exemption, carry none of them). Applies to every authenticated `/v1` route (per API key / user / origin / workspace); POST /v1/run additionally enforces per-provider/endpoint run limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: getV1ResourcesByResourceIdFilesDownloadUrl
      x-operation-id-source: derived
  /v1/resources/{resourceId}/files:
    get:
      tags:
      - Resources
      summary: List file-system entries
      description: List the entries of a workspace file system (file_system resources only). One directory level per call — pass `recursive` for the whole subtree. Cursor-paginated.
      security:
      - Bearer: []
      parameters:
      - schema:
          type: string
          description: Resource identifier (ULID).
        required: true
        description: Resource identifier (ULID).
        name: resourceId
        in: path
      - schema:
          type: string
          description: Directory (or file) to list. Omit for the root.
        required: false
        description: Directory (or file) to list. Omit for the root.
        name: path
        in: query
      - schema:
          type:
          - boolean
          - 'null'
        required: false
        name: recursive
        in: query
      - schema:
          type: string
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          exclusiveMinimum: 0
          maximum: 1000
        required: false
        name: limit
        in: query
      responses:
        '200':
          description: File-system entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Path relative to the FS root.
                        type:
                          type: string
                          enum:
                          - file
                          - dir
                        sizeBytes:
                          type: integer
                        lastModified:
                          type: string
                          description: ISO-8601 last-modified timestamp (files only).
                      required:
                      - path
                      - type
                  cursor:
                    type: string
                    description: Opaque cursor — present when more entries exist.
                required:
                - items
        '401':
          description: Unauthorized — missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — caller has no workspace or no access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded (errorCode `RATE_LIMITED`) — the `Retry-After` header carries whole seconds until the caller may retry; `RateLimit-Limit/-Remaining/-Reset` and `X-RateLimit-Rule` name the binding rule (also sent on allowed responses that matched a rule; responses that matched no rule, or an `unlimited` exemption, carry none of them). Applies to every authenticated `/v1` route (per API key / user / origin / workspace); POST /v1/run additionally enforces per-provider/endpoint run limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: getV1ResourcesByResourceIdFiles
      x-operation-id-source: derived
  /v1/resources/{resourceId}/mint-assets/download-url:
    get:
      tags:
      - Resources
      summary: Get an asset file's download URL
      description: Returns `{ url }` — a freshly minted download URL for one file of one library asset; GET it to stream the bytes. The provider's URLs are short-lived and never stored, so call this each time you need one. Pass `redirect=true` for a 302 straight to the URL (`curl -L`). `format` must be one of the `format` values from `/mint-assets/files`.
      security:
      - Bearer: []
      parameters:
      - schema:
          type: string
          description: Resource identifier (ULID).
        required: true
        description: Resource identifier (ULID).
        name: resourceId
        in: path
      - schema:
          type: string
          minLength: 1
          description: Asset id from the library listing.
        required: true
        description: Asset id from the library listing.
        name: assetId
        in: query
      - schema:
          type: string
          minLength: 1
          description: A `format` from `/mint-assets/files` (e.g. `glb`).
        required: true
        description: A `format` from `/mint-assets/files` (e.g. `glb`).
        name: format
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          description: '`true` answers a 302 redirect to the URL instead of the JSON body (the `curl -L` ergonomic).'
        required: false
        description: '`true` answers a 302 redirect to the URL instead of the JSON body (the `curl -L` ergonomic).'
        name: redirect
        in: query
      responses:
        '200':
          description: The download URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                required:
                - url
        '302':
          description: Redirect to the URL (`redirect=true`)
        '400':
          description: Missing 'assetId' or 'format' query param
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized — missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — caller has no workspace or no access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource, asset or format not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded (errorCode `RATE_LIMITED`) — the `Retry-After` header carries whole seconds until the caller may retry; `RateLimit-Limit/-Remaining/-Reset` and `X-RateLimit-Rule` name the binding rule (also sent on allowed responses that matched a rule; responses that matched no rule, or an `unlimited` exemption, carry none of them). Applies to every authenticated `/v1` route (per API key / user / origin / workspace); POST /v1/run additionally enforces per-provider/endpoint run limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: getV1ResourcesByResourceIdMintAssetsDownloadUrl
      x-operation-id-source: derived
  /v1/resources/{resourceId}/mint-assets/files:
    get:
      tags:
      - Resources
      summary: List an asset's downloadable files
      description: Returns every file one library asset currently has, each with a freshly minted download URL — GET a `url` to stream the bytes. One upstream read, so this reflects the provider's present truth; an asset with nothing downloadable answers an empty list.
      security:
      - Bearer: []
      parameters:
      - schema:
          type: string
          description: Resource identifier (ULID).
        required: true
        description: Resource identifier (ULID).
        name: resourceId
        in: path
      - schema:
          type: string
          minLength: 1
          description: Asset id from the library listing.
        required: true
        description: Asset id from the library listing.
        name: assetId
        in: query
      responses:
        '200':
          description: The asset's downloadable files
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        format:
                          type: string
                          description: Stable file name — pass it to `/mint-assets/download-url` (e.g. `glb`, `spz-500k`, `basecolor`).
                        url:
                          type: string
                          description: Freshly minted download URL. Short-lived and never stored — ask again rather than keeping it.
                      required:
                      - format
                      - url
                required:
                - items
        '401':
          description: Unauthorized — missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — caller has no workspace or no access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource or asset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded (errorCode `RATE_LIMITED`) — the `Retry-After` header carries whole seconds until the caller may retry; `RateLimit-Limit/-Remaining/-Reset` and `X-RateLimit-Rule` name the binding rule (also sent on allowed responses that matched a rule; responses that matched no rule, or an `unlimited` exemption, carry none of them). Applies to every authenticated `/v1` route (per API key / user / origin / workspace); POST /v1/run additionally enforces per-provider/endpoint run limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: getV1ResourcesByResourceIdMintAssetsFiles
      x-operation-id-source: derived
  /v1/resources/{resourceId}/mint-assets:
    get:
      tags:
      - Resources
      summary: List asset-library contents
      description: List the assets in a workspace's asset library (`asset_library` resources only), newest first. Cursor-paginated. Filter by `assetType` to show one kind.
      security:
      - Bearer: []
      parameters:
      - schema:
          type: string
          description: Resource identifier (ULID).
        required: true
        description: Resource identifier (ULID).
        name: resourceId
        in: path
      - schema:
          type: string
          minLength: 1
          maxLength: 64
          description: Only this asset kind (e.g. `model`).
        required: false
        description: Only this asset kind (e.g. `model`).
        name: assetType
        in: query
      - schema:
          type: string
        required: false
        name: cursor
        in: query
      - schema:
          type: integer
          exclusiveMinimum: 0
          maximum: 200
        required: false
        name: limit
        in: query
      responses:
        '200':
          description: Library assets
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        assetId:
                          type: string
                          description: Provider's asset id — the download-url handle.
                        assetType:
                          type: string
                          description: Provider's asset kind (model, world, image, audio, material).
                        name:
                          type: string
                          description: Title given at generation time, when the caller gave one.
                        createdAt:
                          type: string
                          description: ISO-8601 creation time.
                        runId:
                          type: string
                          description: The run that generated it.
                      required:
                      - assetId
                      - assetType
                      - createdAt
                      - runId
                  cursor:
                    type: string
                    description: Opaque cursor — present when more assets exist.
                required:
                - items
        '401':
          description: Unauthorized — missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — caller has no workspace or no access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded (errorCode `RATE_LIMITED`) — the `Retry-After` header carries whole seconds until the caller may retry; `RateLimit-Limit/-Remaining/-Reset` and `X-RateLimit-Rule` name the binding rule (also sent on allowed responses that matched a rule; responses that matched no rule, or an `unlimited` exemption, carry none of them). Applies to every authenticated `/v1` route (per API key / user / origin / workspace); POST /v1/run additionally enforces per-provider/endpoint run limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: getV1ResourcesByResourceIdMintAssets
      x-operation-id-source: derived
    delete:
      tags:
      - Resources
      summary: Permanently delete a library asset
      description: Deletes one asset at the provider and removes it from the library. Permanent — the provider keeps no trash. Answers 409 when the asset still has active generation or derivative work upstream; an asset the provider already dropped still deletes cleanly.
      security:
      - Bearer: []
      parameters:
      - schema:
          type: string
          description: Resource identifier (ULID).
        required: true
        description: Resource identifier (ULID).
        name: resourceId
        in: path
      - schema:
          type: string
          minLength: 1
          description: Asset id from the library listing.
        required: true
        description: Asset id from the library listing.
        name: assetId
        in: query
      responses:
        '204':
          description: The asset was deleted
        '401':
          description: Unauthorized — missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — caller has no workspace or no access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource or asset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: The asset has active generation or derivative work
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded (errorCode `RATE_LIMITED`) — the `Retry-After` header carries whole seconds until the caller may retry; `RateLimit-Limit/-Remaining/-Reset` and `X-RateLimit-Rule` name the binding rule (also sent on allowed responses that matched a rule; responses that matched no rule, or an `unlimited` exemption, carry none of them). Applies to every authenticated `/v1` route (per API key / user / origin / workspace); POST /v1/run additionally enforces per-provider/endpoint run limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: deleteV1ResourcesByResourceIdMintAssets
      x-operation-id-source: derived
  /v1/resources/{resourceId}/release:
    post:
      tags:
      - Resources
      summary: Release a resource
      description: 'Request the release of a workspace-owned resource. Asynchronous and idempotent: a renewable resource stays usable until its paid-through date, then is released upstream; a non-renewable one — and resources with immediate-release semantics (e.g. email inboxes and email domains, torn down upstream at once) — is released immediately. Poll GET /v1/resources/{resourceId} for the authoritative state.'
      security:
      - Bearer: []
      parameters:
      - schema:
          type: string
          description: Resource identifier (ULID).
        required: true
        description: Resource identifier (ULID).
        name: resourceId
        in: path
      responses:
        '202':
          description: Release requested (asynchronous, idempotent)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceReleaseAccepted'
        '401':
          description: Unauthorized — missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — caller has no workspace or no access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Resource is already released, or not releasable right now
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded (errorCode `RATE_LIMITED`) — the `Retry-After` header carries whole seconds until the caller may retry; `RateLimit-Limit/-Remaining/-Reset` and `X-RateLimit-Rule` name the binding rule (also sent on allowed responses that matched a rule; responses that matched no rule, or an `unlimited` exemption, carry none of them). Applies to every authenticated `/v1` route (per API key / user / origin / workspace); POST /v1/run additionally enforces per-provider/endpoint run limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: postV1ResourcesByResourceIdRelease
      x-operation-id-source: derived
  /v1/resources/{resourceId}:
    get:
      tags:
      - Resources
      summary: Get a resource
      description: Get a single workspace-owned resource. External detail is a separate on-demand live fetch — see GET /v1/resources/{resourceId}/external/{kind}.
      security:
      - Bearer: []
      parameters:
      - schema:
          type: string
          description: Resource identifier (ULID).
        required: true
        description: Resource identifier (ULID).
        name: resourceId
        in: path
      responses:
        '200':
          description: The resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          description: Unauthorized — missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — caller has no workspace or no access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded (errorCode `RATE_LIMITED`) — the `Retry-After` header carries whole seconds until the caller may retry; `RateLimit-Limit/-Remaining/-Reset` and `X-RateLimit-Rule` name the binding rule (also sent on allowed responses that matched a rule; responses that matched no rule, or an `unlimited` exemption, carry none of them). Applies to every authenticated `/v1` route (per API key / user / origin / workspace); POST /v1/run additionally enforces per-provider/endpoint run limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: getV1ResourcesByResourceId
      x-operation-id-source: derived
components:
  schemas:
    ResourceEvent:
      type: object
      properties:
        eventId:
          type: string
        type:
          type: string
        cycle:
          type: number
        amount:
          type: object
          properties:
            value:
              type: number
            currency:
              type: string
          required:
          - value
          - currency
        reason:
          type: string
        at:
          type: string
          format: date-time
      required:
      - eventId
      - type
      - at
    ResourceRenewal:
      type: object
      properties:
        price:
          $ref: '#/components/schemas/Price'
        renewLead:
          type: object
          properties:
            unit:
              type: string
            count:
              type: number
          required:
          - unit
          - count
          description: How long before `currentPeriodEnd` charging starts.
        startedAt:
          type: string
          format: date-time
        currentPeriodStart:
          type: string
          format: date-time
        currentPeriodEnd:
          type: string
          format: date-time
        renewAttemptAt:
          type: string
          format: date-time
        cycle:
          type: number
        lastAttempt:
          type: object
          properties:
            at:
              type: string
              format: date-time
            outcome:
              type: string
              enum:
              - SUCCEEDED
              - FAILED
            reason:
              type: string
          required:
          - at
          - outcome
        cancelledAt:
          type: string
          format: date-time
      required:
      - price
      - renewLead
      - startedAt
      - currentPeriodStart
      - currentPeriodEnd
      - renewAttemptAt
      - cycle
    Price:
      type: object
      properties:
        type:
          type: string
        amount:
          type: object
          properties:
            value:
              type: number
            currency:
              type: string
              enum:
              - USD
          required:
          - value
          - currency
        flatFee:
          type: object
          properties:
            value:
              type: number
            currency:
              type: string
              enum:
              - USD
          required:
          - value
          - currency
        period:
          type: object
          properties:
            unit:
              type: string
              enum:
              - MINUTE
              - DAY
              - MONTH
            count:
              type: integer
              exclusiveMinimum: 0
          required:
          - unit
          - count
        per:
          anyOf:
          - type: object
            properties:
              unit:
                type: string
                enum:
                - MINUTE
                - DAY
                - MONTH
              count:
                type: integer
                exclusiveMinimum: 0
            required:
            - unit
            - count
          - type: number
        unit:
          type: string
          enum:
          - token
          - character
          - second
          - image
          - credit
          - result
          - gb-month
          - step
        default:
          anyOf:
          - type: object
            properties:
              type:
                type: string
                enum:
                - PER_CALL
              amount:
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    type: string
                    enum:
                    - USD
                required:
                - value
                - currency
            required:
            - type
            - amount
          - type: object
            properties:
              type:
                type: string
                enum:
                - PER_RESULT
              amount:
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    type: string
                    enum:
                    - USD
                required:
                - value
                - currency
              flatFee:
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    type: string
                    enum:
                    - USD
                required:
                - value
                - currency
            required:
            - type
            - amount
          - type: object
            properties:
              type:
                type: string
                enum:
                - METERED
              amount:
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    type: string
                    enum:
                    - USD
                required:
                - value
                - currency
              per:
                type: object
                properties:
                  unit:
                    type: string
                    enum:
                    - MINUTE
                    - DAY
                    - MONTH
                  count:
                    type: integer
                    exclusiveMinimum: 0
                required:
                - unit
                - count
            required:
            - type
            - amount
            - per
          - type: object
            properties:
              type:
                type: string
                enum:
                - PER_UNIT
              amount:
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    type: string
                    enum:
                    - USD
                required:
                - value
                - currency
              per:
                type: number
              unit:
                type: string
                enum:
                - token
                - character
                - second
                - image
                - credit
                - result
                - gb-month
                - step
            required:
            - type
            - amount
            - per
            - unit
        selectors:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
              key:
                type: string
              in:
                type: string
                enum:
                - body
                - queryParam
                - pathParam
                - output
              offset:
                type: integer
                minimum: 0
            required:
            - label
            - key
            - in
        variants:
          type: array
          items:
            type: object
            properties:
              when:
                type: object
                additionalProperties:
                  anyOf:
                  - type: string
                  - type: number
                  - type: boolean
              price:
                anyOf:
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - PER_CALL
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                  required:
                  - type
                  - amount
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - PER_RESULT
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                    flatFee:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                  required:
                  - type
                  - amount
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - METERED
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                    per:
                      type: object
                      properties:
                        unit:
                          type: string
                          enum:
                          - MINUTE
                          - DAY
                          - MONTH
                        count:
                          type: integer
                          exclusiveMinimum: 0
                      required:
                      - unit
                      - count
                  required:
                  - type
                  - amount
                  - per
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - PER_UNIT
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                    per:
                      type: number
                    unit:
                      type: string
                      enum:
                      - token
                      - character
                      - second
                      - image
                      - credit
                      - result
                      - gb-month
                      - step
                  required:
                  - type
                  - amount
                  - per
                  - unit
              label:
                type: string
            required:
            - when
            - price
        tiers:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
              when:
                type: object
                additionalProperties:
                  anyOf:
                  - type: string
                  - type: number
                  - type: boolean
              selector:
                type: object
                properties:
                  label:
                    type: string
                  key:
                    type: string
                  in:
                    type: string
                    enum:
                    - body
                    - queryParam
                    - pathParam
                    - output
                  offset:
                    type: integer
                    minimum: 0
                required:
                - label
                - key
                - in
              price:
                anyOf:
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - PER_CALL
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                  required:
                  - type
                  - amount
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - PER_RESULT
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                    flatFee:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                  required:
                  - type
                  - amount
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - METERED
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                    per:
                      type: object
                      properties:
                        unit:
                          type: string
                          enum:
                          - MINUTE
                          - DAY
                          - MONTH
                        count:
                          type: integer
                          exclusiveMinimum: 0
                      required:
                      - unit
                      - count
                  required:
                  - type
                  - amount
                  - per
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - PER_UNIT
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          enum:
                          - USD
                      required:
                      - value
                      - currency
                    per:
                      type: number
                    unit:
                      type: string
                      enum:
                      - token
                      - character
                      - second
                      - image
                      - credit
                      - result
                      - gb-month
                      - step
                  required:
                  - type
                  - amount
                  - per
                  - unit
            required:
            - label
            - price
        notes:
          type: array
          items:
            type: string
      required:
      - type
      - amount
      description: User-facing price (markup applied).
    ResourceReleaseAccepted:
      type: object
      properties:
        resourceId:
          type: string
        state:
          type: string
          enum:
          - EXPIRING
        message:
          type: string
      required:
      - resourceId
      - state
      - message
    Resource:
      type: object
      properties:
        resourceId:
          type: string
          description: Resource identifier (ULID).
        provider:
          type: string
        providerName:
          type: string
        resourceSlug:
          type: string
        resourceType:
          type: string
        displayName:
          type: string
          description: Resource display name (e.g. "Machine").
        description:
          type: string
          description: Short one-line description.
        summary:
          type: string
          description: Detailed description.
        externalId:
          type: string
        identifier:
          type: string
        releasable:
          type: boolean
        state:
          type: string
          enum:
          - READY
          - PROVISIONING
          - ACTIVE
          - EXPIRING
          - SUSPENDED
          - RELEASED
          - PROVISION_FAILED
          description: Lifecycle state.
        provisionedBy:
          type: string
        releasedBy:
          type: string
        renewal:
          $ref: '#/components/schemas/ResourceRenewal'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        releasedAt:
          type: string
          format: date-time
        releaseReasonCode:
          type: string
        releaseReason:
          type: string
        phoneNumber:
          type: string
        country:
          type: string
        numberType:
          type: string
        name:
          type: string
        totalBytes:
          type: integer
        objectCount:
          type: integer
        lastMutationAt:
          type: string
          format: date-time
        cdpUrl:
          type: string
        baseUrl:
          type: string
        targetUrl:
          type: string
        timeoutSeconds:
          type: integer
        proxyCountryCode:
          type: string
        externalResources:
          type: array
          items:
            $ref: '#/components/schemas/ExternalResourceSummary'
        syncedAt:
          type: string
          format: date-time
        usageBilling:
          type: object
          properties:
            rateCard:
              type: array
              items:
                type: object
                properties:
                  label:
                    type: string
                    description: The metered dimension ("cpu", "storage", …).
                  ratePerUnit:
                    type: number
                    description: The dollar rate per unit (e.g. 0.05).
                  per:
                    type: string
                    description: The unit the rate applies to ("vCPU·hour", "GB·month", …).
                required:
                - label
                - ratePerUnit
                - per
              description: One line per term of the metered price function.
          required:
          - rateCard
          description: Metered usage pricing (absent for rent-only resources).
      required:
      - resourceId
      - provider
      - resourceSlug
      - resourceType
      - externalId
      - identifier
      - releasable
      - state
      - provisionedBy
      - createdAt
      - updatedAt
    Error:
      type: object
      properties:
        code:
          type: integer
          description: HTTP status code, duplicated in the body.
          example: 400
        message:
          type: string
          description: Human-readable error description.
          example: Bad Request
        errorCode:
          type: string
          enum:
          - RATE_LIMITED
          - X402_WORKSPACE_RESOURCES
          - X402_ACCRUING_COST
          - X402_EXCEEDS_SETTLEMENT_WINDOW
          - X402_VALIDITY_WINDOW_TOO_SHORT
          - X402_UNBOUNDED_PRICE
          - INSUFFICIENT_SCOPE
          - WALLET_INSUFFICIENT_FUNDS
          - IDENTITY_PROVIDER_UNKNOWN
          - IDENTITY_LINK_REQUIRES_SESSION
          - IDENTITY_LINK_STATE_INVALID
          - IDENTITY_VERIFICATION_FAILED
          - IDENTITY_PROVIDER_UNAVAILABLE
          - IDENTITY_ALREADY_LINKED
          - IDENTITY_USER_ALREADY_LINKED
          - IDENTITY_LINK_RATE_LIMITED
          - IDENTITY_REQUIRED
          - PROMO_IDENTITY_REDEEMED
          - PROMO_REDEEM_REQUIRES_SESSION
          - PROMO_REDEEM_DISABLED
          description: OPTIONAL machine-readable discriminant from the documented `ApiErrorCode` registry. Absent on legacy errors; clients MUST treat unknown values as absent.
      required:
      - code
      - message
    ExternalResourceDetail:
      type: object
      properties:
        kind:
          type: string
        displayName:
          type: string
        label:
          type: string
        data:
          type: object
          additionalProperties: {}
      required:
      - kind
      - displayName
      - data
    ExternalResourceSummary:
      type: object
      properties:
        kind:
          type: string
        displayName:
          type: string
        label:
          type: string
      required:
      - kind
      - displayName
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      description: 'Monid API key (`Authorization: Bearer mk_...`) or Clerk-issued JWT.'
